h1{
	color: red;
		}#navegador ul{
			list-style-type: none;
			text-align: center;
		}
		#navegador li{
			display: inline;
			text-align: center;
			margin: 0 10px 0 0;
		}
		#navegador li a{
			padding: 2px 7px 2px 7px;
			color: #666;
			background-color: #9EFF86;
			border: 1px solid #ccc;
			text-decoration: none;
		}
		#navegador li a: hover {
			background-color: #A4F7C6;
			color: #F7A5A4;

		}
h1{
	color: blue;
} 
